@media screen and (max-width:991px) {
    .column-box {
        width: 50%;
    }
    .custom-row{
        flex-wrap:wrap;
    }
}

 @media screen and (max-width:576px){
    .custom-row{
        flex-wrap: wrap;
    }
    .custom-container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .custom-column1, .custom-column2, .custom-column3, .custom-column4 {
        width:100%;
    }

}



@media screen and (max-width:991px){
    .cust-Col1,.cust-Col2,.cust-Col3,.cust-Col4{
        width: 50%;
    }
    .cust-Row{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:576px){
    .cust-Col1,.cust-Col2,.cust-Col3,.cust-Col4{
        width: 100%;
    }
    .cust-Row{
        flex-wrap: wrap;
    }
}